<html>

<head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

<style type="text/css">
	
</style>

<body>
    <div class='pane' style="width: 15%">
        <h1>Hey {{user.name}}!</h1>

        <a href="{{url_for('newPoekeBank')}}">
            <h3> Your Poekemon in the Poekebank </h3> </a>

        {% for poekemon in poekemons %}

        	{{poekemon.poekedex_index}}

        {% endfor %}

    </div>

    <div class='pane' style="width:50%">
    	<h1>Online Users</h1>
    	<div style="border:solid black 1px;">
            {% for other_user in other_users %}
            <p>{{other_user.name}}</p>
            {% endfor %}
        </div>
    </div>

</body>

</html>