<html>
	
<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div class = 'pane'>
		<h1>Poekebank Box {{ poekebank.box }}</h1>
		
		{% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% if items !=[] %}

		<a href = '{{url_for('newPoekemon', poekebank_id = poekebank.id )}}'>Create New Poekemon</a>
	</br></br>

	<h2>Poekemons</h2>

		{% for i in poekemons %}

		<p>Poekemon Name: {{i[1].__dict__.name}}</p>
		<p>Poekemon Index: {{i[1].__dict__.id}}</p>
		<p>Poekemon Type: {{i[1].__dict__.poketype}}</p>
		<p>Poekemon Evolution Level: {{i[1].__dict__.evolution_level}}</p>
	
		<a href='{{url_for('editPoekemon', poekebank_id = poekebank.id, poekemon_id=i[0].__dict__.id ) }}' >Edit</a>
	</br>
	<a href='{{url_for('deletePoekemon', poekebank_id = poekebank.id, poekemon_id=i[0].__dict__.id ) }}' >Delete</a>
</br>
</br>

{% endfor %}

		{% else %}
		<p> You currently have no menu items. <p>
		<a href = "{{url_for('newPoekemon', poekebank_id = poekebank.id )}}">Create Poekemon</a>
		{% endif %}
</div>
	</body>

</html>
