<html>

<head>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>


<body>
<div class = 'pane'>
<h1>PoekeBanks</h1>

<a href="{{url_for('newPoekeBank')}}" > <h3> Create a New Poekebank </h3> </a>

{% for poekebank in poekebanks %}



<a href = "{{url_for('showPoekemons', poekebank_id = poekebank.id)}}"> <p>Poekebank Box#: {{poekebank.box}}</p></a>

<p><a href = "{{url_for('editPoekeBank', poekebank_id = poekebank.id)}}">Edit PoekeBank</a></p>

<p> <a href = "{{url_for('deletePoekeBank', poekebank_id = poekebank.id)}}">Delete PoekeBank</a> </p>




{% endfor %}

</div>
</body>

</html>
